input {
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 1px solid #999999;
  transition: 0.2s all linear;
  margin-right: 10px;

  position: relative;
  top: 3px;
}

input:checked {
  border: 5px solid rgb(29, 127, 240);
}