body {
    font-family:  monospace;
    background:#f0f2f5;
}

h1 {
    text-align: center;
    color: #1d7ff0;
}

fieldset {
    width: 500px;
    margin: auto;
    padding: 10px;
    background-color: white;
    border: 1px #444444 solid;
    border-radius: 18px;
    color: #444444;
    box-shadow: 0 8px 25px #0000001a;
}
legend {
  color: #444444;
  background-color: #ffffff;
  padding: 8px 12px;
  margin: 16px;
  border-radius: 8px;
  border: 1px #444444 solid;
  font-size: 14px;

}
#question {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

#possibilites div {
    margin: 15px 0;
}

input {
    appearance: none;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1px solid #444444;
    border-radius: 8px;
    position: relative;
    top: 3px;
    transition: 0.2s all ease-in;
}

input:checked {
    border: 5px solid #1d7ff0;
}

input.incorrect {
  border: 5px solid #ef0000;
  transform: scale(1.2);
}

input.correct {
  border: 5px solid #00a000;
  transform: scale(1.2);
}

button {
    font-family:  monospace;
    margin: 5px;
    padding: 8px 12px;
    background-color: #1d7ff0;
    color: white;
    border: none;
    border-radius: 8px;
    transition: 0.2s all linear;
}

button:hover {

    background-color: #1979e6;
    transform: translateY(-1px);
}


button:active {
    transform: translateY(1px);
}


p {
    font-size: 14px;
    color: #444444;
    font-family:  monospace;;
}

#correct,
#incorrect,
#choose_element {
    margin: 5px;
    padding: 8px 12px;
    border-radius: 8px;
    color: white;
    display: inline-block;
    animation: apparition 0.3s ease-out;
}

@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

[hidden] {
    display: none !important;
}

#correct {
    background-color: #00a000;
}

#incorrect {
    background-color: #ef0000;
}

#choose_element {
    background-color: #ffa500;
}
#messages {
    min-height: 45px;
}

#end {
    text-align: center;
}

#start{
    color: #444444;
    background-color: #ffffff;
    border-radius: 18px;
    border: 1px #444444 solid;
    font-size: 14px;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 0 8px 25px #0000001a;
}
.input_start{
    min-width: 150px;
    margin: 5px;
    padding: 8px 12px;
    border-radius: 8px;
    color: #444444;
    font-family:  monospace;
}

#score, #paragraphe_name {
    font-size: 16px;
    color: #444444;
    font-weight: bold;
}